@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
}

/* コンテナボックス */
.container{
    max-width: 60rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 599px){
    .container{
        width: 100%;
    }
}

/* ヘッダー */
.header{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #eee;
    background-color: #f1f7fc;
}
.header h1{
    font-size: 1.75rem;
    margin: 0;
}
#btnInfo{
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: 1rem;
}

/* 説明部分 */
.info{
    border-bottom: 1px solid #eee;
}

.info-main{
    width: 60rem;
    padding: 1rem;
    background-color: #ffffef;
    border: 1px solid #eee;
    border-radius: .25rem;
    box-sizing: border-box;
}
.none{
    display: none;
}

/* コンテンツ部分 */
.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.main-form{
    border-bottom: 1px solid #eee;
}

/* 項目 */
.form{
    display: flex;
    width: 60rem;
    height: 4rem;
    align-items: center;
    background-color: #f1f7fc;
    border: 1px solid #eee;
    border-radius: .25rem;
    box-sizing: border-box;
}

.form .text{
    font-size: 1.5rem;
    height: 2.5rem;
    width: 30rem;
    margin-left: 1rem;
    margin-right: 1rem;
    box-sizing: border-box;
}

@media screen and (min-width: 600px) and (max-width: 959px){
    .form{
        width: 36rem;
    }
    .form .text{
        width: 28rem;
    }
}
@media screen and (max-width: 599px){
    .form{
        width: 100%;
    }
    .form .text{
        font-size: 1.25rem;
        width: 100%;
    }
}

.btnAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem .5rem 1rem;
    margin-left: auto;
    margin-right: 1rem;
    border: 1px solid #007bff;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #007bff;
    background-color: #fff;
}
.btnAdd:hover{
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
}

/* テーブル部分 */
table{
    width: 60rem;
    border: 1px solid #eee;
    border-radius: .25rem;
    box-sizing: border-box;
    border-collapse: collapse;
}
@media screen and (min-width: 600px) and (max-width: 959px){
    table{
        width: 36rem;
    }
}
@media screen and (max-width: 599px){
    table{
        width: 100%;
    }
}

tr{
    width: auto;
    height: 3rem;
    border-bottom: 1px solid #eee;
    border-radius: .25rem;
}
th{
    font-size: 1.25rem;
    font-weight: normal;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
}
thead tr{
    background-color: #f1f7fc;
}

.id{
    width: 6rem;
}
.check{
    width: 6rem;
}
.status{
    width: 8rem;
}

td input{
    transform: scale(1.5);
}

td:first-of-type{
    text-align: right;
    padding-right: 2rem;
}
td:nth-of-type(even){
    padding-left: 2rem;
}
td:nth-of-type(3){
    text-align: center;
}

@media screen and (max-width: 599px){
    th{
        font-size: 1rem;
    }
    .id{
        width: 2rem;
    }
    .check{
        width: 3rem;
    }
    .status{
        width: 5rem;
    }

    td input{
        transform: scale(1);
    }
    td:first-of-type{
        text-align: right;
        padding-left: .5rem;
    }
    td:nth-of-type(even){
        padding-left: 1rem;
    }
}
